@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Space+Mono:wght@700&display=swap');

.App {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-primary);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

main {
    /* Garante que o conteúdo não fique escondido atrás da navbar fixa */
    padding-top: 65px; 
}