/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Space+Mono:wght@700&display=swap');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variáveis de Cor para o Tema Claro (Padrão) */
body[data-theme='light'] {
  --background-primary: #f8f9fa;
  --background-secondary: #ffffff;
  --text-primary: #212529;
  --text-secondary: #495057;
  --primary-color: #6f42c1;
  --primary-color-dark: #5a359a;
  --highlight-color: #20c997;
  --border-color: #dee2e6;
}

/* Variáveis de Cor para o Tema Escuro */
body[data-theme='dark'] {
  --background-primary: #121212;
  --background-secondary: #1e1e1e;
  --text-primary: #e0e0e0;
  --text-secondary: #adb5bd;
  --primary-color: #8a63d2;
  --primary-color-dark: #6f42c1;
  --highlight-color: #20c997;
  --border-color: #343a40;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-primary);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
  
  /* Esta regra impede a rolagem horizontal em toda a página, 
     eliminando espaços em branco laterais em qualquer dispositivo. */
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}